.leftactions{
	box-sizing: border-box;
	padding: 5px 30px 30px;
	position: fixed;
	background-color: #05B666;
	text-align: left;
	color: #2B2E31;
	height:100%;
	border:none;
	pointer-events: none;

    margin-top: 100px;
}
#desktop {
	background:#FFF; height: 100%;
	margin-top: 100px;
	position: fixed; right: 0; top:0;
	padding-top: 50px;
}
.board:hover { padding-top: 5px; }
.board, .post {
	cursor: pointer;
	transition: all ease 0.2s;
	/*background-color: #ffffff;*/
}
.board .image { box-shadow: 2px 2px 2px rgba(0,0,0,0.3); }
.board .overtitle { background: #FFF; position: absolute; bottom: 0px;  margin-right: 15px; padding-bottom: 10px;}
.board .topactions   { position: absolute; top: 0px; right: 0px; padding: 10px; margin-right: 15px;}
.board h3 { margin: 10px 0 0 0;}
.board span { color:#666;}
.users-face { width: 48px; height:48px; margin-left:10px; float: left ;  }
.users-face img {border-radius: 50%; }

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.modal-backdrop { height: 100%; }
.popbox .modal-body { padding: 0 }
.popbox .modal-content { border: none; box-shadow: none}



.posts-list{
			list-style:none;
			margin-left:225px;
			max-width: 1500px;
			text-align: center;
			padding: 0;
			opacity: 0;
			font-size: 0;
		}
		
		 .post img, .botones {
		 	/*box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);*/
		 }
		 .posts-list button {
		 /* border-radius: 2px;
		  background-color: #87bae1;
		  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		  border: 0;
		  color: #ffffff;
		  font-weight: bold;
		  font-size: 13px;
		  cursor: pointer;
		  width: 95px;
		  height: 32px;*/
		}
		.botones .btn { border-radius:0; padding:15px 0;   border-color: #E8E8E8;   color: #939393;/*B3B3B3*/}
		.editpart{ margin-top: 15px}
		.approve.btn { color : #FF5B5B; transition: 0.2s; }
		.approve.btn:active, .approve.btn:focus { background:#4BC34B; color : #FFF}
		.approve.btn:active, .approve.btn:focus { background:#FFF; color : #4BC34B}
		.edit { }
		.reject { color : #FF5B5B}





/*-----------------
	Main Content
------------------*/


.main-content{
	box-sizing: border-box;
	text-align: center;
	margin: 125px auto 60px;
	padding: 0;
}

.main-content h3{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 20px;
}

@media (max-width: 1024px){

	.main-content{
		margin: 45px auto;
		padding: 0 25px;
	}
	.users-face { width: 32px; height:32px;  }

}