body { background: #FFF}
.leftactions{
	box-sizing: border-box;
	padding: 5px 30px 30px;
	position: fixed;
	/*background-color: #05B666;*/
	text-align: left;
	color: #2B2E31;
	height:100%;
	border:none;

    margin-top: 100px;
}
#desktop {
	background:#FFF; height: 100%;
	margin-top: 100px;
	position: fixed; right: 0; top:0;
	padding-top: 50px;
}
.board:hover { padding-top: 5px; }
.board, .post {
	cursor: pointer;
	transition: all ease 0.2s;
	margin-bottom: 25px;
	/*background-color: #ffffff;*/
}
.post small { font-weight: bold;    color: #9EC7CE; }
.board .image { box-shadow: 2px 2px 2px rgba(0,0,0,0.3); }
.board .overtitle { background: #FFF; position: absolute; bottom: 0px;  margin-right: 15px; padding-bottom: 10px;}
.board .topactions   { position: absolute; top: 0px; right: 0px; padding: 10px; margin-right: 15px;}
.board h3 { margin: 10px 0 0 0;}
.board span { color:#666;}
.users-face { width: 48px; height:48px; margin-left:10px; float: left ;  }
.users-face img {border-radius: 50%; }

ul.leftbuttons {  list-style: none; margin:35px 0 0 0 ; padding:0;  }
ul.leftbuttons a { color:#A7A8AC; text-transform: uppercase;font-weight: 600}
ul.leftbuttons li { width:80px; height:80px; margin: 0 0 12px; overflow: hidden; border-radius: 40px; }
ul.leftbuttons li div  { position: absolute; z-index: 2;    padding-top: 15px; }
ul.leftbuttons li .text { left:32px; padding-top: 25px;}
ul.leftbuttons li .top {  
	position: relative; z-index: 3; background: #C7A7D0; 
	width:80px; height:80px; 
	border-radius:40px; float:left; text-align: center;}
ul.leftbuttons li img  {  max-width: 45px; padding-top: 3px}

ul.leftbuttons li, ul.leftbuttons div { height:80px; }
ul.leftbuttons li, ul.leftbuttons li .top, ul.leftbuttons li .text, ul.leftbuttons li img  {transition: all ease 0.4s;}

ul.leftbuttons li .top.btn-upload { background: #BD45FE }
ul.leftbuttons li .top.btn-boards { background: #0095E7 }
ul.leftbuttons li .top.btn-likes { background: #FA69DE }
ul.leftbuttons li .top.btn-relationships { background: #FF8719 }

/*HOVER*/
ul.leftbuttons li:hover .top { background: blue; width: 90px; height:90px; border-radius: 45px;   }
ul.leftbuttons li:hover img  { max-width: 55px }
ul.leftbuttons li:hover .text { left:125px; }
ul.leftbuttons li:hover { overflow: visible; width: 100%; height:90px;}

/*.add-action { position: absolute; right:0; bottom:0;}*/
a.wrap-action,a.wrap-action:hover { text-decoration: none;}
.btn-action {   
	width: 55.5px;  height: 55.5px;  font-size: 35px; text-decoration: none;  color: #FFF;  
	background-color: #333;  text-align: center;  letter-spacing: .5px; border-radius: 50%; 
	transition: .3s;  cursor: pointer;  vertical-align: middle; border: none;
	box-shadow: 3px 4px 2px rgba(0,0,0,0.3);
}
.btn-action:hover { width: 65.5px;height: 65.5px; font-size: 50px;}
span.btn-action 		{ padding: 15px 20px 13px;}
span.btn-action:hover 	{ padding: 20px 27px 20px;}
.btn-add { background-color: #51C753; }




.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*
.modal-backdrop { height: 100%; }
*/
.popbox .modal-body { padding: 0 }
.popbox .modal-content { border: none; box-shadow: none}

.comments-text { 
	margin-bottom: 7px;
    position: relative;
    word-wrap: break-word;
}
.comment-input input { min-width: 285px; margin-left:5px;}
.comment-input { color:#666666;}
.commment-input .btn {background: #FFF; color:#444444;}

.no-posts img, .no-boards img { margin: 10px auto; }

.posts-list{
			list-style:none;
			margin-left:225px;
			max-width: 1500px;
			text-align: center;
			padding: 0;
			opacity: 0;
			font-size: 0;
		}
		
		 .post img, .botones {
		 	/*box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);*/
		 }
		 .posts-list button {
		 /* border-radius: 2px;
		  background-color: #87bae1;
		  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
		  border: 0;
		  color: #ffffff;
		  font-weight: bold;
		  font-size: 13px;
		  cursor: pointer;
		  width: 95px;
		  height: 32px;*/
		}
		.buttons1 .btn {    border-color: #E8E8E8;   color: #939393;/*B3B3B3*/}
		.btn.btn-action { transition:all ease 0.2s; background: #FFF; border-color: #E8E8E8; color: #A9A9A9; border-radius:0; padding:15px 0; }
		.btn-action.btn:focus { background: #E8E8E8; color: #B3B3B3; box-shadow: none; outline: none !important }
/*		.editpart{ margin-top: 15px}
		.approve.btn { color : #FF5B5B; transition: 0.2s; }
		.approve.btn:active, .approve.btn:focus { background:#4BC34B; color : #FFF}
		.approve.btn:active, .approve.btn:focus { background:#FFF; color : #4BC34B}
		.edit { }
		.reject { color : #FF5B5B}
*/
.btn.liked { color: #FFFFFF !important; background: #FF63DF ; border-color:#FF63DF }
.btn.liked:hover { background: #FF8D00}



/*-----------------
	Main Content
------------------*/


.main-content{
	box-sizing: border-box;
	text-align: center;
	margin: 125px auto 60px;
	padding: 0;
}

.main-content h3{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 20px;
}

@media (max-width: 1024px){

	.main-content{
		margin: 45px auto;
		padding: 0 25px;
	}
	.users-face { width: 32px; height:32px;  }

}