/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background:#3898F9; /* Old browsers */
  background: -moz-linear-gradient(top,  #3898F9 0%, #50d8c4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3898F9), color-stop(100%,#50d8c4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3898F9 0%,#50d8c4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3898F9 0%,#50d8c4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3898F9', endColorstr='#50d8c4',GradientType=0 ); /* IE6-9 */
  color:#565A5C;
}


#footer {
	opacity: 0.1;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* BESIGN */
body { font-family: 'Lato', sans-serif; }
.site-head-repv { 
background: #0099ff; /* Old browsers */
background: -moz-linear-gradient(top,  #0099ff 0%, #50d8c4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099ff), color-stop(100%,#50d8c4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0099ff 0%,#50d8c4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0099ff 0%,#50d8c4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#50d8c4',GradientType=0 ); /* IE6-9 */
min-height: 500px;
padding:30px 15px;
}

.site-home { min-height:550px; padding-top:20px; background:url(../img/bg-city.png) repeat-x bottom center; background-size: 100% auto; }
.whatisit { background: #FFF; min-height:600px; padding: 100px 0}
.whatisit img { margin:auto;}
.site-footer { background: }

.site-head { 
	margin-top: 170px;
	min-height: 350px;
	padding:30px 15px;
}
.site-head h1, .site-home h1 { color: #FFF; font-size:400%; }
.navbar { background:#FFF; min-height: 80px ;
border: none;
border-radius: 0;
padding: 15px;}

.animation1s { transition: all ease 1s; }

#register_doctor, #register_patient{
	display:none;
}
.regist_title h2 {color: rgba(255,255,255,0.7);}
.regist_title a:hover { text-decoration: none;}
.smaller-img { width:60%; margin:auto;} 

.input-home-doctor 	 { min-width: 360px; }
.input-home-location { }

.blured { filter: blur(2px); filter: url("../stuff/blur.svg#gaussian_blur"); -webkit-filter: blur(2px); }
.blurme {}
	

.temporaryfademe { transition: opacity 1s; }

.inner-addon { position: relative; }
/* style icon */
.inner-addon .glyphicon {  position: absolute;  padding: 14px;  pointer-events: none; opacity: 0.6; }
#signin .inner-addon { color: #FFF; }

/* align icon */
.left-addon .glyphicon  { left:  15px;}
.right-addon .glyphicon { right: 15px;}

/* add padding  */
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 30px; }
.site-home input.error {
	border: solid 1px #FFF;
  	background: #FFF url(../img/validation-sprites.png) no-repeat right -40px !important;
  	border-color: #e74c3c !important;
	border-radius:10px !important
}
  
#form-login .form-control, #signin .form-control { 
	margin-bottom: 7px;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px rgba(255,255,255,0.9);
	background: none;
	color: #FFF;
	font-weight: 800;
	font-size: 180%;
	letter-spacing: 0.5px;
	transition: all ease 0.3s;
}
.field-wrapper { margin-bottom:20px;}

label.placeholder {
  position:absolute;
  top:-13px;
  left:15px;
  font-size:14px;
  color:#FFF;
  transition: all 0.1s linear;
  opacity:0;
  font-weight: 200;
  letter-spacing: 0.5px;
}
label.on {
	color:#1AD8C1;
}
label.show {
  top:-15px;	
  opacity:1;
}

#login label.placeholder {
  position:inherit;
  left:0;
}
#login label.on {
	color:#FFF;
}


label.error { /*font-family: 'Glyphicons Halflings';float: right;margin: -35px 10px 0 0;*/ color: #FFF; background:#E74C3C; padding: 3px; border-radius:3px; }
input.error { background: rgba(255,255,255,0.3) url(../img/validation-sprites.png) no-repeat right -40px !important; border-bottom-color: #e74c3c !important;
border-radius:10px !important}
.form-control { box-shadow: none; border: solid 1px #FFF; }

/*slide  modal from bottom*/
.modal.fade:not(.in) .modal-dialog {
    -webkit-transform:  translate3d(0, 125%, 0);
    transform:  translate3d(0, 125%, 0)
}
.success-response, .alert-response, .warning-response { color: #FFF }
.success-response h1, .alert-response h1, .warning-response h1 { font-size:300% }
.success-response h2 { /*color:rgb(0, 169, 123);*/  color: white; background: #2ecc71; padding: 15px 5px; border-radius: 30px;}
.success-response h4, .alert-response h4 { color: #FFF/*#585858*/; font-weight: 200; line-height: 140%; }

.alert-response h1{ color: #DD4B39;  }
.alert-response h2 { color: white; background: #DD4B39; padding: 15px 5px; border-radius: 30px; }

.warning-response { color: #566263;font-weight: 800;text-align: center;font-size: 110%; background: #B8FFF7; padding: 20px 5px; border-radius: 0 0 25px 25px; border: none; margin-top:7px }

/*.back-close { background:rgba(255,255,255,0.7); height: 55px;
padding: 20px; border-bottom: 1px solid #E3E3E3; }*/
 
#registration-patient { padding: 10px }
#response-registration { padding: 20px } 

/*
//Transparent #signin
.back-close { background:rgba(255,255,255,0.7); height: 55px;
padding: 20px; border-bottom: 1px solid #E3E3E3; }
#signin .modal-body { min-height: 460px; padding:0}
#signin .modal-dialog  { width: 460px }
#signin .modal-content { border-radius: 0px; background-color: rgba(255, 255, 255, 0.5); border:1px solid rgba(255, 255, 255, 0.8); 
-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.42);
}
#register-select { background: rgba(255,255,255,0.2); text-align: center;  /*position: relative;bottom: -100px; }

*/
/*
#signin .modal-body { min-height: 460px; padding:0}
#signin .modal-dialog  { width: 460px }
#signin .modal-content {
	background: none;
	box-shadow: none;
	border: none;
}
#register-select { background:none}
.back-close { height: 55px;
padding: 20px;}
#register-select .close {font-size: 200%;color: #FFF;text-shadow:none; opacity: 1;}
*/
#login { margin: 7% auto 0 auto;}
#signin .modal-dialog  {  width: 100%;  height: 100%;  padding: 0; margin:0 }
#signin .modal-content {
	background: #004c95;
background: -moz-linear-gradient(top,  #004c95 0%, #00b1c0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004c95), color-stop(100%,#00b1c0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #004c95 0%,#00b1c0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #004c95 0%,#00b1c0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c95', endColorstr='#00b1c0',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
	border: none;
	 height: 100%;
  	border-radius: 0;
}
#signin .modal-body { width: 450px; margin: 5% auto; }
#register-select, { background:none; padding: 0 50px; color: #FFF;font-weight:200; letter-spacing: 1px; text-align:center; }
.back-close { height: 55px; padding: 20px; font-weight: 200; color: #FFF;}
.back-close i { font-weight: 800; font-size: 200%;  text-shadow: none; opacity: 1; }

#signin .close {font-size: 400%;color: #FFF;text-shadow:none; opacity: 1;
position: fixed;
right: 20px;
top: 5px;
}

hr { border-top: 1px solid rgba(236, 240, 241,0.3) }
.more-margin { margin-top:20px !important}
.logo-square { margin: 35px auto; width: 135px; text-align:center;clear:both; }
.btn { letter-spacing:normal;}
#signin .modal-header  { padding:12px; border: none; }
#signin .btn, #form-login .btn { margin:3px; border-radius: 3px }


.btn-facebook {	border-color: #3b5998;	border-bottom-color: #263a63;	background-color: #3b5998;	color: #FFF; }
.btn-facebook:hover, .btn-facebook:focus {	border-color: #4568b2;	/*border-bottom-color: #2d4575;*/	background-color: #4568b2;	color: #FFF; }
.btn-email { border-color:#1AD8C1; border-bottom-color: none;	background-color: #1AD8C1;	color: #333;}
.btn-email i { color:#7DFFE1; }
.btn-google { border-color:#dd4b39; border-bottom-color: #dd4b39;	background-color: #dd4b39;	color: #FFF;} }
.btn-google i { color:#FFF; }
.btn-google:hover { color:#FFF}
.btn-facebook i, .btn-email i, .btn-google i { padding-right: 10px;  border-right: 1px solid rgba(255,255,255,0.5); margin-right: 7px; font-size:130%}
.btn-full { width: 100%}

.btn-facebook, .btn-email, .btn-google { 
 text-transform: uppercase; padding: 15px;font-size: 115%;letter-spacing: 0.5px; border-radius: 27px !important; min-width: 290px
}

.btn-facebook:hover, .btn-email:hover, .btn-google:hover, .btn-success:hover { 
 box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
}

.btn-sm.btn-facebook, .btn-sm.btn-email, .btn-sm.btn-google { padding: 10px; font-size: 70%;}

.form-control:focus { box-shadow:none}




/* all */
.signinput::-webkit-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput::-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput:-ms-input-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }
.signinput input:-moz-placeholder { font-weight: 200; color:rgba(255,255,255,0.7) }








.padding-20 { padding:20px; }
/*.content {
				width:400px;
				height:300px;
				top:20%;
				margin:0 auto;
				background-color:#aaa;
				position:relative;
			}*/
.wraper { width:100%; position:absolute; top:0;left:0; overflow:hidden;}
.mask 	{ width:600%/*500%*/; }
.masked-item { width:16.5%/*21%*/; height:100%; float:left;}
      	


#search-results{	height: 100%;	background-color: #19c600; }
.item-card { min-height: 200px;  border-radius:10px;	padding:0 0 20px 0; background: #FFF; margin-bottom:25px; }
.item-card .default-pic, .item-card .user-pic {	height:100px;	width: 100px;border-radius:10px 0px 0px 0px;	background-color: #9FC4CF; float: left }
.item-card .info { /*height: 90px; overflow: hidden;*/ margin-bottom: 10px;  }
.separate20 { height:20px; width:100%}
.item-card img { padding:7px }
.default-pic img { opacity: 0.3};
.default-pic .gynecology { background: #FFB3B3 }
.item-card .item-head { background:#9fB6BD; height: 100px; width: 250px; padding: 7px 5px 5px 10px; float: left; }
.item-card .item-head h4 { font-size: 100%; color:#000; opacity: 0.5; text-transform: uppercase; margin: 0 5px 2px 0  }
.item-card .item-head h1 { font-size: 200%; color:#FFF; margin:0 }
.item-card .info { clear: both; padding-left: 20px;}
.item-card ul.clinics-list { list-style: none; margin: 0; padding:0 }

/* TODO poner version para todos los tamaños del navegador */
.cards-list .columna:nth-child(4n+4) { clear: both; }


div.clinics-list .clinic-name { width:60%; float: left }
div.clinics-list .dates { width:40%;float: left }
div.clinics-list{ margin-bottom:10px;}
div.clinics-list:after{    clear: both;    content: "";    display: block; }

div.clinics-list .dates { font-size: 80%; color:#1AD8C1; line-height:120%; }
.dates .day { font-weight:600; float: left; width:20%; letter-spacing: 0.5px; }
.dates .time {  float: left; width:80% ; text-align: right; padding: 0 20px 0 0 }
.dates .day, .dates .time { border-bottom: 1px solid #EEEEEE}


.item-card .clinics-list li, div.clinics-list {	font-size: 105%;	color:#565a5c;	line-height:150%; text-transform:capitalize }
.rating-container .rating-stars { color:#FFE100; }
.rating-xs { font-size: 130% }
.item-card .rating-xs  { margin-top: 10px;}
.rating-container, .rating-stars, .rating-container .rating-stars:before { text-shadow: none }

.item-card .btn-moreinfo, .item-card .btn-book { /*background: #39BECD;*/
background-color: #3898F9;
 width:80px; height: 45px; font-weight:600; text-transform: uppercase; color:#FFF; padding: 10px 2px;  }
.item-card .btn-moreinfo { border-color: #3898F9;
border-bottom: solid 2px #0073E6;}
.item-card .btn-book { background: #FFF; margin-left: -5px; border-radius: 0 5px 5px 0; white-space: normal; line-height: 100%; color: #565A5C; 
border:solid 1px #DCE0E0;border-bottom: solid 2px #b5b5b5; }
.item-card .btn-moreinfo:hover { color: rgba(255,255,255,0.9); background-color: #0073E6; border:solid 3px #0065C9; border-bottom: solid 1px #0073E6; border-right: solid 1px #0073E6; }
.item-card .btn-book:hover { color: rgba(0,0,0,0.5); background-color: #DCE0E0; border:solid 3px #999; border-bottom: solid 1px #DCE0E0; border-right: solid 1px #DCE0E0; }

.button.btn.btn-filter {
border: solid 1px #1AD8C1;
background: #FFF;
color: #3898F9;
}

/*#results*/ .results-wrapper { background: rgba(255,255,255, 0.5); min-height:400px; border-top: solid 1px rgba(255,255,255, 0.8); padding-bottom: 100px }

.search-filters-area { background: rgba(255,255,255, 0.5); min-height:100px; padding: 20px; }
.search-filters-area .filterby { margin:0; padding:0; color: #166BA5; float:left; font-weight:600; font-size: 120%}
.search-results {  margin-top:20px;}

.ui-helper-hidden-accessible { display:none; }

/*other */
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0 
}
.ui-autocomplete {
	background:#FFF;
	width: 360px !important;
	border-radius: 0 0 5px 5px;
	padding: 0;
	box-shadow:0 2px 6px rgba(0,0,0,0.3);-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden
}
.ui-autocomplete.source:hover {
    background: #454545;
}

.ui-menu .ui-menu-item a{
    background:red;
    height:10px;
	font-size:8px;
}
.ui-autocomplete li, .pac-item { padding: 15px 20px;border-bottom: solid 1px #BDC3C7;font-size: 110%; color: #3E3E3E; list-style: none;}
.ui-autocomplete li:hover,.pac-item:hover { background:#CDD5D7; }
.pac-container{ font-family:'Lato', sans-serif;border-top:none;border-radius:0 0 5px 5px; }
.hdpi.pac-container:after, .pac-container:after{ background-image:none }
.pac-item{line-height:20px;border-top:none;}
.pac-icon{ margin-top:0px;}

.pac-matched{font-weight:400}









/* Medical Carrers */
.item-card .item-head .neurologia { background:#057CA0; }

	
/*
 opcion 2 para el fondo
 <div class="background-container">
	<div class="wrapper">

	</div>
</div>

.background-container { position: relative; width: 100%; min-height:800px; overflow: hidden;}
.background-container .wrapper {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/backgrounds/01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}*/

.btn.btn-login, .btn.btn-register, .btn.btn-register-outline { margin:15px 0 0 10px; }

.btn.btn-login { background-color: #0DE6C9; color:#FFF; border:none; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
a.btn.btn-login:hover, .navbar-default .navbar-nav>li>a.btn-login:hover { color: #FFF;background-color: #1CDBC1;border-color: #1CDBC1;}

a.btn.btn-default.btn-login { color:#FFF }

 .navbar-default .navbar-nav>li>a.btn-login:hover, .btn-register:hover {box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}

.btn.btn-register { color: #FFF; background-color: #3898F9;border-color: #3898F9; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-register:hover { color: #FFF;background-color: #2C72BD;border-color: #2C72BD;}

.btn-register:focus, {   
border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

.btn.btn-register-outline { color: #FFF; background-color: rgba(255,255,255,0); border-color: #FFF; border-width:2px; text-transform: uppercase; border-radius: 20px;padding: 10px 20px;  font-size: 95%; letter-spacing: 1px; }
.btn-register-outline:hover { color: #FFF;background-color: #3898f9;border-color: #FFF;}

.btn-register-outline:focus, {   
border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}


.btn.btn-success {text-transform: uppercase; border-radius: 20px;padding: 15px 20px;  font-size: 95%; letter-spacing: 1px; border-radius: 27px !important;
/*
 background: #ecf0f1;
border: none;
color: #7f8c8d;
*/}

.modal-backdrop { background: none;/* transition: all ease 0.2s;*/ }/*
.modal-backdrop.in { opacity:1}
.backdrop-signin {
    background-color: #3898f9;
    opacity:1;
}
*/
.center-block { float: none }
.left { float: left }
.right { float: right}





.looper .goback, .looper  .gofoward {	position: absolute;	top: 250px;		background: none !important;	color: #565A5C;
	text-shadow: none !important;
	font-size: xx-large;
	padding: 100px 0 0 0;
}
.looper .goback {left:100px}	
.looper .goback:hover {}	
.looper .gofoward {right: 50px;}			
.looper .gofoward:hover {}	

.site-head { height:10px !important; margin-top:0 !important; min-height:0;}
		
		
		.menubar-action { background: #3898F9; padding: 15px; }
		.img-profile { 	margin: 0 20px 20px;max-width: 93%;box-shadow: 0px 1px 10px rgba(0,0,0,0.25);padding: 5px;}
		.menubar-action  .nav-tabs { border:none; transition: all ease 0.5s}
		.menubar-action .nav-tabs>li.active>a, .menubar-action li a  { border: none;  color: rgba(255,255,255,0.5); text-transform: uppercase; background: none; font-weight: 400 }
		.menubar-action .nav-tabs>li.active>a  {font-weight: 600; color: rgba(255,255,255,1); }
		.menubar-action .nav-tabs>li.active>a:hover, .menubar-action .nav-tabs>li>a:hover , .menubar-action .nav-tabs>li.active>a:focus { background: none; }
		.menubar-action .nav-tabs>li.active:after { top: 100%;	left: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;
						pointer-events: none;	border-color: rgba(136, 183, 213, 0);	border-top-color: #3898F9;	border-width: 30px;
	margin-left: -30px }
	.menubar-action .nav-tabs>li.active, .menubar-action .nav-tabs>li.active>a:hover, .menubar-action .nav-tabs>li>a:hover , .menubar-action .nav-tabs>li.active>a:focus {	color: rgba(255,255,255,1) }
		.title-profile h4, .title-profile h5 { text-transform: uppercase; opacity: 0.8 }
		.title-profile h5, { /*color: #949494;*/ font-weight:200; opacity: 0.6}
		.badge { padding:15px; border-radius: 20px }
		.trophy { text-align: center; text-transform:uppercase; min-height:75px; font-size: 80%; background: #00B1C0; color: #FFF; padding: 20px 0; border-left: solid 2px #FFF;
margin: 20px 0 ; font-weight:100; border-radius: 4px;}
		.trophy span { font-size:120%; font-weight:400;}
		#doc-details #inner { background:#F7F7F7; padding: 30px 20px; border-bottom: solid 1px #CCC }
		#doc-details {width: 100%;    height: 100%;  background: #FFF; padding-top: 40px }

		.steps h2 { color:#1CD6BD; margin: 25px 0 40px;}
		.steps .dates-available { 
			border-radius: 3px; padding: 10px; font-weight: 200;display: inline-block;
		}
		
		.steps .date-resume { margin: 0 auto 5px;padding: 3px 7px;border-radius: 15px;border: solid 2px #FFF;opacity: 0.7;color: #009EFC;font-weight: 600;background: #FFF; }
		.steps h4 { text-transform: uppercase;font-weight: 700 !important;letter-spacing: 0.5px;font-size: 20px;}
		.weekday { font-weight:600}
		.hours-day { opacity: 0.7}
		
		
		.steps .date-resume2 { margin: 0 auto 5px;padding: 3px 7px;border-radius: 15px; opacity: 0.7;color: #FFF; }
		.steps .date-resume2 .weekday {font-weight: 600; color: #009EFC; background: #FFF;padding: 5px 8px;  width: 30px; border-radius: 15px;}
		.steps .date-resume2 .hours-day { opacity: 0.7; padding: 5px;}
		
		
		.carousel-control.right, .carousel-control.left {  background: none !important; color: #565A5C; text-shadow: none !important; font-size: xx-large;width: 50px; padding: 100px 0 0 0;}
		.practice-item2 {border: 2px solid #E2E2E2;background: #FFF;border-radius: 15px;margin: 0 10px; }
		.practice-item { background: #009EFC;color: #FFF;font-weight: 800 !important;border-radius: 15px;margin: 0 10px;padding: 20px 10px; text-align: center}
		.practice-item img { padding: 20px 30px 10px;}
